<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación | LinkCafé</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("auth.documents.ejs") %>
    <%- include("usuarios.documents.ejs") %>
    <%- include("articulos.documents.ejs") %>
    <%- include("publicaciones.documents.ejs") %>
    <%- include("comentarios.documents.ejs") %>
</body>
</html>